# Packages

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# Set up path directory
cwd = os.getcwd()
data_dir = os.path.join(cwd, 'NYSERDA_Data')
print(f'Data directory: {data_dir}')

Data directory: d:\EERL\EV\EVI-Pro-Lite\NYSERDA_Data

# Current vehicle count

In [38]:
# Read NYS zip code data
zipcode_df = pd.read_csv(os.path.join(data_dir, 'nys_zipcode.csv'))
zipcode_df = zipcode_df[['ZIP Code', 'County']]

In [32]:
# Read current vehicle registration data
vehicle_df = pd.read_csv(os.path.join(data_dir, 'Current Registrations.csv'))

# Drop rows with missing ZIP Code
vehicle_df = vehicle_df[vehicle_df['ZIP Code'] != 'Error']

# Filter for NYS zip codes
vehicle_df['ZIP Code'] = vehicle_df['ZIP Code'].astype(int)
vehicle_df = vehicle_df[vehicle_df['ZIP Code'].isin(zipcode_df['ZIP Code'])]

,Vehicle Count,ZIP Code,RegistrationMonth,Vehicle_Index,DMV_ID,Registration_Valid_Date,County_GEOID
0,1,14150,3/1/2023,203055,73,2023-03-21 00:00:00.000,NaN
1,1,11372,3/1/2023,62208,73,2023-03-21 00:00:00.000,NaN
2,1,10940,3/1/2023,715613,73,2023-03-21 00:00:00.000,NaN
3,1,14136,3/1/2023,11732,73,2023-03-21 00:00:00.000,NaN
4,1,11021,3/1/2023,68814,73,2023-03-21 00:00:00.000,NaN

In [40]:
# Group by zip code and sum vehicle count
vehicle_by_zip = vehicle_df.groupby('ZIP Code')['Vehicle Count'].sum().reset_index()
vehicle_by_zip

      ZIP Code  Vehicle Count
0         6390            552
1        10001           4838
2        10002          11645
3        10003           6353
4        10004           1564
...        ...            ...
2107     14901           7832
2108     14902            179
2109     14903           6386
2110     14904           9756
2111     14905           6516

[2112 rows x 2 columns]

In [41]:
# Group by county and sum vehicle count
vehicle_by_county = vehicle_by_zip.merge(zipcode_df, on='ZIP Code', how='left')
vehicle_by_county = vehicle_by_county.groupby('County')['Vehicle Count'].sum().reset_index()
vehicle_by_county

                County  Vehicle Count
0        Albany County         236214
1      Allegany County          36836
2         Bronx County         295553
3        Broome County         147283
4   Cattaraugus County          60274
..                 ...            ...
58   Washington County          58142
59        Wayne County          87527
60  Westchester County         684472
61      Wyoming County          35948
62        Yates County          20428

[63 rows x 2 columns]

In [36]:
total_vehicles = vehicle_by_zip['Vehicle Count'].sum()
print(f'Total number of vehicles in NYS: {total_vehicles:.2e}')

Total number of vehicles in NYS: 1.12e+07

# Future vehicle count